@import (reference) "../@desinax/typographic-grid/less/typography-defaults.less";
@import (reference) "kmom04.less";

/**
 * Base style to affect HTML elements on a general scale.
 */
// @bgColorHtml: #424242;
// @bgColorBody: #fff;
// @colorBody: #333;
// // @fontFamilyBody: serif;

// @bgColorHtml: #333;
// @bgColorBody: #fff;
// @colorBody: #333;
// //  @fontFamilyBody: serif;

html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
}

body {
    margin: 0;
    padding: 0;
    color: @colorBody;
    background-color: @bgColorBody;
    // font: 100.01%/1 @fontFamilyBody;
    #desinax-hgrid.font(@fontSizeBody);
}

#desinax-hgrid.activateDefaultTypography();

.row {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;    
  }

img {
    max-width: 100%;
}

.site-logo-text {
    a {
        font: small-caps 1.5em helvetica;
        color: @colorHtml;
        text-decoration: none;
    }
    a:hover {
        color: inherit;
    }
}